<h1>About Us</h1>
<p>Dashing (short for <strong>Da</strong>ta <strong>sh</strong>ar<strong>ing</strong>) makes storing and sharing your personal data easier and safer than just about anything.</p>
<p>Interested? The code is <a href='https://github.com/protofuture/dashing'>available on Github</a>.</p>

